.c-tabs {
  display: flex;
  height: 100%;
  flex-direction: column;

  &__header {
    flex-shrink: 0;
    padding: 25px 0;
    text-align: center;
    color: $text-color-dark;
  }

  &__title {
    display: inline-block;
    margin: 0 10px;
    padding: 4px 0;
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    border-bottom: 2px solid transparent;

    &.is-active,
    &:hover {
      @include text-highlight($primary);
    }

    &.is-active {
      position: relative;
      border-bottom-color: #000;
    }
  }

  &__body {
    flex: auto;
    overflow: hidden;
    height: 100%;
  }

  &__pane {
    height: 100%;
  }
}
