@import "~styles/variables";
@import "~styles/mixins";

.magnet-list {
  position: relative;
  margin: 0 auto;
  width: 800px;

  &__item {
    padding: 10px 0;
    transition: transform 0.3s;
    will-change: transform;

    &:hover {
      transform: scale(1.05);

      .magnet {
        background-color: rgba(#fff, 0.6);
      }
    }
  }

  .magnet {
    display: flex;
    border-radius: 8px;
    background-color: rgba(#fff, 0.4);

    &__content {
      flex: auto;
      padding: 10px 20px;
    }

    &__sub-info {
      display: flex;
      padding-top: 8px;
      align-items: center;
      color: $text-color-light;
    }

    &__create-time {
      margin-right: 20px;
    }

    &__attachment {
      flex: 0;
      display: flex;
      padding: 10px 20px;
      align-items: center;
    }

    .copy-btn {
      $h: 28px;

      padding: 0 20px;
      height: $h;
      line-height: $h;
      border-radius: $h / 2;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: #3785f7;
      background: rgba(#fff, 0.4);

      &:hover {
        cursor: pointer;
        user-select: none;
        background: rgba(#fff, 0.8);
      }
    }

    .icon-time,
    .icon-attachment {
      margin-right: 5px;
    }
  }
}
