:root {
  font-family: PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: $text-color-base;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

input {
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
}

button,
.btn {
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  border: none;
  background: none;
  cursor: pointer;
  word-break: keep-all;
  outline: none;
}
