$background-color-light: #fff !default;
$background-color-base: #fafafa !default;
$background-color-dark: #eaeaea !default;

$body-background-color: $background-color-base !default;

$sidebar-width: 220px;
$sidebar-background-color: $background-color-base !default;

$border-color: #d6d6d6 !default;

$text-color-light: #555 !default;
$text-color-base: #333 !default;
$text-color-dark: #111 !default;

$link-color: #7baaf7 !default;

$icon-color: #919191 !default;
$shadow-color: #fafbfc !default;

$primary: $text-color-dark !default;

$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;
