@import "~styles/variables";
@import "~styles/mixins";

.magnet-search-form {
  position: relative;
  margin: 0 auto;
  padding: 60px 0;
  width: 600px;
  max-width: 80%;
  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #eee;
    &-search {
      left: 16px;
    }
    &-close {
      right: 16px;
      cursor: pointer;
    }
  }
  input {
    display: block;
    padding: 10px 40px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #eee;
      opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #eee;
    }
  }
}
