.movies {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  @media screen and (min-width: 1601px) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media screen and (max-width: 1600px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.movie {
  position: relative;
  padding: 15px;
  border-radius: 2px;
  cursor: pointer;
  // transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  // transform-origin: 50% 70%;

  // &:hover {
  //   transform: scale(1.1);
  // }

  &__poster {
    padding-bottom: 140%;
    border-radius: 3px;
    background-size: cover;
    background-color: rgba($background-color-light, 0.8);
  }

  &__footer {
    display: flex;
    padding: 5px 0;
  }

  &__title {
    flex: auto;
    color: $text-color-base;
  }

  &__rating {
    margin-left: 5px;
    flex-shrink: 0;
    color: #ff410f;
  }
}
