@charset "UTF-8";

@import "~styles/variables";
@import "~styles/mixins";

$prefixCls: "notice";

// Notice
.#{$prefixCls} {
  padding: 12px 16px;
  max-width: 360px;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);

  transition: all 0.3s;
  transform: translate3D(0, -50%, 0) scale(1, 1);
  will-change: transform;

  &.leave {
    transform: translate3D(0, -100%, 0);
    opacity: 0;
  }

  // 正常提示
  &.info {
    animation: Flop 0.5s linear;
  }

  // 成功提示
  &.success {
    animation: BombIn 0.3s;
  }

  // 警告提示⚠️
  &.warning {
    animation: slideInFromBottom 0.3s;
  }

  // 错误提示
  &.error {
    animation: shake 0.5s;
  }

  .#{$prefixCls}-icon {
    padding: 20px;
    font-size: 80px;
    text-align: center;
    color: #fff;
  }

  .#{$prefixCls}-content {
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
}
