.c-sidebar {
  overflow: auto;
  display: flex;
  padding: 25px 0;
  width: $sidebar-width;
  height: 100%;

  flex-direction: column;

  &__header {
    flex-shrink: 0;
    padding-left: 25px;
  }

  &__footer {
    flex-shrink: 0;
    padding: 0 35px;
  }

  &__body {
    flex: auto;
    overflow: auto;
    display: flex;
    align-items: center;
  }

  &__navigator-list {
    width: 100%;
  }

  &__navigator-item {
    font-size: 16px;
    cursor: pointer;

    & + & {
      margin-top: 25px;
    }

    .navigator-link {
      display: flex;
      padding: 0 25px;
      height: 25px;
      align-items: center;
      color: #545d66;
      border-left: 10px solid transparent;

      &__icon {
        margin-right: 20px;
        font-size: 20px;
      }

      &__name {
        font-weight: 400;
      }
    }

    &:hover {
      .navigator-link {
        @include text-highlight($primary);
      }
    }
    &.is-active {
      .navigator-link {
        @include text-highlight($primary);
        border-color: $primary;
      }
    }
  }
}

.search-bar {
  $size: 30px;

  position: relative;
  overflow: hidden;
  display: inline-flex;
  border-radius: $size;
  background-color: $background-color-dark;

  &__input {
    z-index: 1;
    position: relative;
    overflow: hidden;
    width: $size;
    height: $size;
    font-size: $font-size-base;
    color: $text-color-dark;
    transition: all 0.3s;
    border-radius: $size;
    background-color: transparent;
    opacity: 0;

    &:focus {
      padding: 3px ($size + 6px) 3px 1em;
      width: $sidebar-width - 25px;
      opacity: 1;

      &::placeholder {
        color: $text-color-light;
      }
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 0;
    width: $size;
    height: $size;
    line-height: $size;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: $primary;
    transform: translateY(-50%);
  }
}
