@import "styles/variables";
@import "styles/mixins";
@import "styles/animations";

// Normalize
@import "styles/normalize";

body {
  background-color: $body-background-color;
}

.layout {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: row;

  &::before,
  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    transform: scale(1.5);
    filter: blur(18px);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(//cdn.qiniu.spaceland.xyz/img/movie-bg.jfif);
  }

  &::after {
    background: rgba(#f2f2f2, 0.3);
  }

  &__aside {
    flex-shrink: 0;
  }

  &__content {
    @include hide-scrollbar;

    flex: auto;

    position: relative;
    overflow: auto;
    height: 100vh;
  }
}
