@import "~scss/variables";
@import "~scss/mixins";
@import "~scss/animations";

// Normalize
@import "~scss/normalize";

body {
  background-color: $body-background-color;
}

.layout {
  display: flex;
  height: 100vh;
  flex-direction: row;

  &__aside {
    flex-shrink: 0;
    width: 210px;
  }

  &__content {
    @include hide-scrollbar;

    flex: auto;

    position: relative;
    overflow: auto;
    height: 100vh;
  }
}
